Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
json-tricks==3.15.5
json5==0.9.5
jsonpickle==3.0.2
jsonschema
pandas
pathlib
pathlib2
path
requests
requests-oauthlib
requests-toolbelt