<!DOCTYPE html>
<html>
<head>
    <title>NTUSHB</title>
    <style>
        body {
            text-align: center;
        }
        #login-form {
            margin: 50px auto;
            width: 30%;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px #ccc;
        }
        #title {
            background-color: #f8f8f8;
            color: #333;
            padding: 10px 20px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div id="title">
        <!-- 像這樣可以顯示輸入的user的資訊 -->
        <h1>NTUSHB - 您好！{{user.user_name}}</h1> 
    </div>
    <div id="login-form">
        <form method="post">
            {% csrf_token %}
			<div>
				<button type="submit" name="button" value="self_info">個人資訊</button>
				<input type="button" value="新增" onclick="location.href='{% url 'main_p:create_order'%}'">
			</div>

			<div>
				<button type="submit" name="button" value="sale_order">查看所有販賣訂單</button>
				<button type="submit" name="button" value="want_order">查看所有徵求訂單</button>
			</div>
			<div>
				<input type="button" value="查詢" onclick="location.href='{% url 'main_p:search'%}'">
				<input type="button" value="評價" onclick="location.href='{% url 'evaluate:evaluate_user' user_id=1 %}'">
			</div>
        </form>
</body>