<!DOCTYPE html>
<html>
<head>
    <title>NTUSHB</title>
    <style>
        body {
            text-align: center;
        }
        #title {
            background-color: #f8f8f8;
            color: #333;
            padding: 10px 20px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
		table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
		
    </style>
</head>
<body>
    <div id="title">
        <!-- 像這樣可以顯示輸入的user的資訊 -->
        <h1>NTUSHB - id：{{user_id}}的評價</h1> 
    </div>
	<h2>平均分數：{{ avg_score }}</h2>
	<p>評價詳情：</p>
	<table>
        <thead>
            <tr>
                <th>分數</th>
                <th>評論</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluate in evaluates %}
                <tr>
                    <td>{{ evaluate.ranking }}</td>
                    <td>{{ evaluate.comment }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>